@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(348, 7%, 14%);

  --primary: hsl(205, 100%, 50%);

  --radius-smallest: 0.175rem;
  --radius-small: 0.75rem;
  --radius-medium: 1.5rem;
  --radius-large: 150597px;

  --shadow-smallest: 0px 4px 8px hsla(0, 0%, 0%, 0.12);
  --shadow-small: 0 5px 10px hsla(0, 0%, 0%, 0.12);
  --shadow-medium: 0 8px 30px hsla(0, 0%, 0%, 0.12);
  --shadow-large: 0 30px 60px hsla(0, 0%, 0%, 0.12);

  --font-primary: 'Raleway', BlinkMacSystemFont, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--primary);
}

html,
body {
  font: 400 16px/1.5 var(--font-primary);
  background-color: var(--background);
  color: var(--foreground);
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 600;
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline currentColor;
}

.link + .link {
  margin-left: 3rem;
}

strong {
  color: var(--primary);
}

h1, h2 {
  margin-bottom: 1.5rem;
}

h1, h2 {
  font-size: 2.25rem;
  font-weight: 800;
}

@media (min-width: 480px) {
  h1, h2 {
    font-size: 3.25rem;
  }
}

p {
  color: var(--foreground);
  max-width: 43.5ch;
}

.list-style-none {
  list-style-type: none;
}

.debug {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}


/* Text and background */
.text-white {
  color: var(--background);
}

.text-primary {
  color: var(--primary);
}

.text-primary-dark {
  color: hsl(205, 100%, 31%);
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-decoration-none:hover {
  text-decoration: none;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.weight-800 {
  font-weight: 800;
}

.bg-white {
  background-color: hsl(255, 255%, 255%);
}

.bg-black {
  background-color: hsl(0, 0%, 0%);
}


/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo:hover {
  text-decoration: none;
}

.logo svg {
  margin-right: 10px;
}


/* Box shadow */
.shadow-smallest {
  box-shadow: var(--shadow-smallest);
}

.shadow-small {
  box-shadow: var(--shadow-small);
}

.shadow-medium {
  box-shadow: var(--shadow-medium);
}

.shadow-large {
  box-shadow: var(--shadow-large);
}


/* Border radius */
.rounded-smallest {
  border-radius: var(--radius-smallest);
}

.rounded-small {
  border-radius: var(--radius-small);
}

.rounded-medium {
  border-radius: var(--radius-medium);
}

.rounded-large {
  border-radius: var(--radius-large);
}


/* Button */
.button {
  font-weight: 800;
  font-size: 18px;
  border-radius: var(--radius-smallest);
  border: 5px solid var(--foreground);
  padding: 12px 24px;
  background-color: transparent;
  color: var(--foreground);
  display: inline-flex;
  justify-content: center;
  min-width: 180px;
}

.button:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
  transition: opacity 0.9s ease-in-out;
  color: var(--background);
  background-color: var(--foreground);
}

.button.light {
  color: var(--background);
  border-color: var(--background);
}

.button.light:hover {
  color: var(--foreground);
  background-color: var(--background);
}

.button.primary {
  color: var(--primary);
  border-color: var(--primary);
}

.button.primary:hover {
  color: var(--background);
  background-color: var(--primary);
}


/* Section */
.section {
  padding: 8rem 1.5rem 0;
}

.section:last-child {
  padding-bottom: 8rem;
}

.inner {
  margin: 0 auto;
  max-width: 960px;
}


/* Helpers */
.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  
  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }
}

.max-w-none {
  max-width: none;
}


/* Flex and grid */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row;
  }

  .order-md-2 {
    order: 2;
  }
}

.space-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

@media (min-width: 768px) {
  .grid-cols-md-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.gap-4 {
  gap: 1.25rem;
}

.gap-8 {
  gap: 2.25rem;
}

.gap-16 {
  gap: 4.25rem;
}


/* Spacing */
.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-20 {
  margin-bottom: 6rem;
}

@media (min-width: 768px) {
  .mb-md-none {
    margin-bottom: 0;
  }
}

.p-6 {
  padding: 1.5rem;
}


/* Border */
.border {
  border: 5px solid #BBD8F6 !important; /* z-index for images */
}

.border-x-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}